@import '../../../theme';

mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  color: #fff !important;
  font-weight: bolder;
}

.toolbar-menu-item {
  padding: 0 20px;
}

.right {
  float: right;
}

.flexbox {
  flex-grow: 1;
}

.toolbar-block {
  padding-left: 10px;
  padding-right: 10px;

  @media #{$mat-small} {
    width: 10%;
  }
  @media #{$mat-medium} {
    width: 100%;
  }
  @media #{$mat-large} {
    width: 100%;
  }
}

.icon-white {
  fill: white;
}
