@import "../../../../theme.scss";

.content {
  @media #{$mat-small} {
    padding-top: 88px;
    margin-left: 10px;
    margin-right: 10px;
  }
  @media #{$mat-medium} {
    padding-top: 88px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$mat-large} {
    padding-top: 88px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
